<%= form_for(@paper) do |f| %>
  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% @paper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"タイトル(必須)" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :"著者(必須)" %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :URL %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :開始ページ %><br />
    <%= f.number_field :startingPage %>
  </div>
  <div class="field">
    <%= f.label :終了ページ %><br />
    <%= f.number_field :endingPage %>
  </div>
  <div class="field">
    <%= f.label :出版年 %><br />
    <%= f.number_field :publicationYear %>
  </div>
  <div class="field">
    <%= f.label :刊行物名 %><br />
    <%= f.text_field :publicationName %>
  </div>
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
